@model IEnumerable<Test4.Models.ViewModels.VM_CompleteUserInfo>

@{
    ViewBag.Title = "GetUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetUsers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.UserPic)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessLevelName)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
          
        
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <img src="~/images/UserPic/@item.UserPic" id="UserPic" name="UserPic" width="40px" height="40px" />
            </td>
          
            <td>
                @*@Html.DisplayFor(modelItem => item.Gender)*@
                @if (item.Gender == true)
                {


                    <span>مرد</span>
                }
                else
                {
                    <span>زن</span>

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessLevelName)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.RegisterDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item }) |
                @Html.ActionLink("Details", "Details", new {  id=item }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item })
            </td>
        </tr>
    }

</table>
