
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Test4.Models.Repository;
@using Test4.Models.ViewModels;

@{

    //Test4.Models.Repository.Rep_Products R_Product = new Test4.Models.Repository.Rep_Products();
    Rep_Products Rep_Product = new Rep_Products();
}




<!-- slider-main--------------------------->
@section Header_MainSlider{

    @Html.Partial("Header_MainSlider")
}

<!--Instant Offer-->
@Html.Partial("InstantOffer", "Home")

<!--  Products Discount Slider------------------------->
@Html.Partial("ProductsDiscountSlider", "Home")

<!-- New Products Slider--------------------------------->
@*@Html.Partial("NewProductsSlider", "Home")*@


@section BestSellingProducts{

    <div class="col-lg-12 col-md-12 col-xs-12 pr order-1 d-block">
        <div class="slider-widget-products slider-content-tabs">
            <div class="widget widget-product card slider-content-tabs">
                <header class="card-header header-product">
                    <span class="title-one">پر فروش ترین ها</span>
                    <h3 class="card-title"></h3>
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                             style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1534px;">
                            @foreach (var Product in Rep_Product.BestSellingProducts(6))
                            {
                                <div class="owl-item active tab-item" style="width: 296.75px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                           data-target="#exampleModal">
                                            <img src="/images/slider-product/@Product.PicName" style="width:100px;height:100px" class="img-fluid"
                                                 alt="">
                                            <span class="icon-view">
                                                <strong><i class="fa fa-eye"></i></strong>
                                            </span>
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                @Product.ProductName
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>@Product.ProductPrice<span>تومان</span></span></del>
                                            <ins><span>@Product.ProductOff<span>تومان</span></span></ins>
                                            <ins><span style="color:red">@Product.Sales <span>عدد فروش موفق</span></span></ins>

                                        </div>
                                        <div class="actions">
                                            <ul>
                                                <li class="action-item like">
                                                    <button class="btn btn-light add-product-wishes" type="submit">
                                                        <i class="fa fa-heart-o"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item compare">
                                                    <button class="btn btn-light btn-compare" type="submit">
                                                        <i class="fa fa-random"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item add-to-cart">
                                                    <button class="btn btn-light btn-add-to-cart" type="submit">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@section NewProductsSlider{

    <div class="container col-12 mx-1">
        <aside class="main-row-bg d-block d-md-block ">
            <div class="bg-cover " style="border-radius :20px"></div>
            <div class="container-main">
                <div class="d-block">
                    <section class="content-title section-title mt-5">
                        <div class="align-items-center">
                            <div class="col-auto">
                                <div class="title">
                                    <h2>جدید ترین محصولات</h2>
                                </div>
                                <div class="subtitle">
                                    <span>آخرین محصولات</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    @foreach (var item in Rep_Product.NewProducts(6))
                    {

                        <div class="mb-3">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4 pr">
                                <div class="card-product-horizontal">
                                    <div class="card-product-horizontal-img">
                                        <a href="#" class="d-block">
                                            <img src="/images/slider-product/@item.PicName" style="width:100px;height:100px">
                                        </a>
                                    </div>
                                    <div class="card-product-horizontal-content">
                                        <div class="card-product-horizontal-content-title">
                                            <a href="#">
                                                <h3>@item.ProductName</h3>
                                            </a>
                                        </div>
                                        <div class="card-product-horizontal-content-price">
                                            <span class="amount">
                                                @item.ProductPrice
                                                <span>تومان</span>
                                            </span>
                                        </div>
                                        <div class="card-product-horizontal-content-rate">
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </aside>

    </div>

}
@* Best selling products*@


<!--SpecialProductsSlider-->

@section SpecialProductsSlider{
    <div class="container col-12 mx-1">
        <aside class="main-row-bg d-block d-md-block ">
            <div class="bg-cover " style="border-radius :20px"></div>
            <div class="container-main">
                <div class="d-block">
                    <section class="content-title section-title mt-5">
                        <div class="align-items-center">
                            <div class="col-auto">
                                <div class="title">
                                    <h2>محصولات ویژه   </h2>
                                </div>
                                <div class="subtitle">
                                    <span>با کیفیت ترین محصولات</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    @foreach (var item in Rep_Product.LastProducts(6))
                    {
                        <div class="mb-3">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4 pr">
                                <div class="card-product-horizontal">
                                    <div class="card-product-horizontal-img">
                                        <a href="#" class="d-block">
                                            <img src="/images/slider-product/@item.PicName" style="width:100px;height:100px">
                                        </a>
                                    </div>
                                    <div class="card-product-horizontal-content">
                                        <div class="card-product-horizontal-content-title">
                                            <a href="#">
                                                <h3>@item.ProductName</h3>
                                            </a>
                                        </div>
                                        <div class="card-product-horizontal-content-price">
                                            <span class="amount">
                                                @item.ProductPrice
                                                <span>تومان</span>
                                            </span>
                                        </div>
                                        <div class="card-product-horizontal-content-rate">
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }

                </div>
            </div>
        </aside>

    </div>
}


<!--Categories Discount-->
@Html.Partial("CategoriesDiscount", "Home")

<!-- Products Slider-------------------------------->
@Html.Partial("ProductsSlider", "Home")



