@model IEnumerable<Test4.Models.ViewModels.VM_Products_Pics>

@{
    ViewBag.Title = "ProductBrandCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Test4.Models.WebStoreDbEntities5 DataBase = new Test4.Models.WebStoreDbEntities5();


}

@{
    var ProductSubTitle = "";
    string MainTitle = "";
    foreach (var item in Model)
    {
        MainTitle = item.ProductMainTitle;
        ProductSubTitle = item.ProductSubTitle;
    }
}

@section BreadCrumb{

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">صفحه اصلی</a></li>
            <li class="breadcrumb-item"><a href="/Home/Index/SubCategory">@MainTitle</a></li>
            <li class="breadcrumb-item active" aria-current="page">@ProductSubTitle</li>
        </ol>
    </nav>
}

@section ProductsFilter{

    <nav class="navbar navbar-expand-sm navbar-light bg-light ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#filterNav" aria-controls="filterNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
            <span class="bg-light">دسته بندی </span>

        </button>

        <div class="collapse navbar-collapse" id="filterNav">

            <ul class="navbar-nav mr-auto">
                @{
                    int SubCatId = 0;
                }
                @foreach (var item in Model)
                {
                    SubCatId = item.ProductSubTitleId;
                }
                <li class="nav-item ">
                    @*<button type="button" class="btn btn-link nav-link" id="popular">جدید ترین ها</button>*@
                    @Html.ActionLink("جدید ترین ها", "NewProducts", new { CatId = SubCatId }, new { @class = "nav-link" })
                </li>


                <li class="nav-item ">
                    @Html.ActionLink("پرفروش ترین ها", "GetBestSellingProducts", new { CatId = SubCatId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("ارزان ترین ها", "GetCheapestProducts", new { CatId = SubCatId }, new { @class = "nav-link" })

                </li>
                <li class="nav-item">
                    @Html.ActionLink("گران ترین ها", "GetExpensiveProducts", new { CatId = SubCatId }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-link nav-link" id="discounts">تخفیف ها</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-link nav-link" id="price" data-toggle="collapse" data-target="#priceNav" aria-controls="priceNav" aria-expanded="false" aria-label="Toggle Price Navigation">فروشندگان</button>
                    <div class="collapse" id="priceNav">
                        <div class="card card-body">
                            <a class="dropdown-item" href="#" data-sortby="lowtohigh">Low to High</a>
                            <a class="dropdown-item" href="#" data-sortby="hightolow">High to Low</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

}




@section ProductByBrandSlider{
    <div class="col-lg-12 col-md-12 col-xs-12 pr order-1 d-block">
        <div class="slider-widget-products slider-content-tabs">
            <div class="widget widget-product card slider-content-tabs">
                <header class="card-header header-product">
                    <span class="title-one">@ProductSubTitle</span>
                    <h3 class="card-title"></h3>

                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                             style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1534px;">
                            @foreach (var Product in Model)
                            {
                                <div class="owl-item active tab-item" style="width: 296.75px; margin-left: 10px;">
                                    <div class="item">
                                        <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                           data-target="#exampleModal">
                                            <img src="/images/slider-product/@Product.PicName" style="width:100px;height:100px" class="img-fluid"
                                                 alt="">
                                            <span class="icon-view">
                                                <strong><i class="fa fa-eye"></i></strong>
                                            </span>
                                        </a>
                                        <h2 class="post-title">
                                            <a href="#">
                                                @Product.ProductName
                                            </a>
                                        </h2>
                                        <div class="price">
                                            <del><span>@Product.ProductPrice<span>تومان</span></span></del>
                                            <ins><span>@Product.ProductOff<span>تومان</span></span></ins>

                                        </div>
                                        <div class="actions">
                                            <ul>
                                                <li class="action-item like">
                                                    <button class="btn btn-light add-product-wishes" type="submit">
                                                        <i class="fa fa-heart-o"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item compare">
                                                    <button class="btn btn-light btn-compare" type="submit">
                                                        <i class="fa fa-random"></i>
                                                    </button>
                                                </li>
                                                <li class="action-item add-to-cart">
                                                    <button class="btn btn-light btn-add-to-cart" type="submit">
                                                        <i class="fa fa-shopping-cart"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


}
@section SuggestedProducts {

    <div class="col-lg-12 col-md-12 col-xs-12 pr order-1 d-block">
        <div class="slider-widget-products slider-content-tabs">
            <div class="widget widget-product card slider-content-tabs">
                <header class="card-header header-product">
                    <span class="title-one">کامپیوتر و لپ تاپ</span>
                    <h3 class="card-title"></h3>
                </header>
                <div class="product-carousel owl-carousel owl-theme owl-rtl owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                             style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1534px;">
                            <div class="owl-item active tab-item" style="width: 296.75px; margin-left: 10px;">
                                <div class="item">
                                    <a href="#" class="d-block hover-img-link" data-toggle="modal"
                                       data-target="#exampleModal">
                                        <img src="/images/slider-product/mitbook.jpg" class="img-fluid"
                                             alt="">
                                        <span class="icon-view">
                                            <strong><i class="fa fa-eye"></i></strong>
                                        </span>
                                    </a>
                                    <h2 class="post-title">
                                        <a href="#">
                                            هواوای میت بوک X پرو 13.9 اینچ
                                        </a>
                                    </h2>
                                    <div class="price">
                                        <del><span>۱۲,۰۰۰,۰۰۰<span>تومان</span></span></del>
                                        <ins><span>۱۰,۵۰۰,۰۰۰<span>تومان</span></span></ins>
                                    </div>
                                    <div class="actions">
                                        <ul>
                                            <li class="action-item like">
                                                <button class="btn btn-light add-product-wishes" type="submit">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>
                                            </li>
                                            <li class="action-item compare">
                                                <button class="btn btn-light btn-compare" type="submit">
                                                    <i class="fa fa-random"></i>
                                                </button>
                                            </li>
                                            <li class="action-item add-to-cart">
                                                <button class="btn btn-light btn-add-to-cart" type="submit">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
