@using Test4.Models;

<nav class="sidebar">
    <div class="nav-header">
        <div class="header-cover"></div>
        <div class="logo-wrap">
            <a class="logo-icon" href="#">
                <img alt="logo-icon" src="/images/logo.png"
                     width="40">
            </a>
        </div>
    </div>
    <ul class="nav-categories ul-base">

        @{
            WebStoreDbEntities1 DataBase = new WebStoreDbEntities1();
            IQueryable<Tbl_Category> QMainTitle = DataBase.Tbl_Category.Where(i => i.CategoryID != 24 && i.ParentID == 24);
            int CollapaseCount = 0;
            int HeadingCount = 0;
        }

        @foreach (var MainTitle in QMainTitle)
            {
                CollapaseCount++;
                string CollapseId = "Collapse" + CollapaseCount.ToString();
                HeadingCount++;
                string HeadingId = "Heading" + HeadingCount.ToString();
            <li>
                <a href="#" class="collapsed" type="button" data-toggle="collapse"
                   data-target="#@CollapseId" aria-expanded="false" aria-controls="@CollapseId" >

                </a>

                <div class="d-flex flex-row justify-content-between align-items-center">
                    @*Show Main Titles*@
                    @Html.ActionLink(MainTitle.CategoryTitle, "MainTitle",null, new { @class = "collapsed ", type = "button", data_toggle = "collapse", data_target = $"#{CollapseId}", aria_expanded = "false", aria_controls = $"{CollapseId}" })

                    <i class="mdi mdi-chevron-down d-flex flex-row"></i>
                </div>
                <div id="@CollapseId"  class="collapse" aria-labelledby="@HeadingId"
                     data-parent="#accordionExample" style="">

                    <ul>
                        @{
                            IQueryable<Tbl_Category> QSubTitle = DataBase.Tbl_Category.Where(SubTitle => SubTitle.ParentID == MainTitle.CategoryID);

                        }

                        @foreach (var SubTitle in QSubTitle)
                        {
                            <li class="has-sub">
                                @*Show Sub Titles*@
                                @Html.ActionLink(SubTitle.CategoryTitle, "SubTitle", new { SubTitleId = SubTitle.CategoryID, MainTitle = MainTitle.CategoryTitle }, new { @class = "category-level-2" });

                                @{
                                    IQueryable<Tbl_Category> QProductsBrand = DataBase.Tbl_Category.Where(ProductBrand => ProductBrand.ParentID == SubTitle.CategoryID);
                                    foreach (var ProductBrand in QProductsBrand)
                                    {
                                        <ul>
                                            <li>
                                                @*Show Products Brand*@
                                                @Html.ActionLink(ProductBrand.CategoryTitle, "ProductBrand", new { BrandId = ProductBrand.CategoryID, BrandSubTitle = SubTitle.CategoryTitle, BrandMainTitle = MainTitle.CategoryTitle }, new { @class = "category-level-3" });
                                            </li>
                                        </ul>
                                    }
                                }
                            </li>
                        }

                    </ul>
                </div>
            </li>
        }


        <li><a href="/Home/ContactUs">ارتباط با ما</a></li>
    </ul>
</nav>
<div class="nav-btn nav-slider">
    <span class="linee1"></span>
    <span class="linee2"></span>
    <span class="linee3"></span>
</div>
<div class="overlay"></div>
